body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  a {
    color: #00B7FF;
  }

  h1,
  p {
    text-align: center;
  }

  #big-ball {

    img {
      height: 100px;
    }
  } 

  .clueless {
    width: 500px;
    background: yellow;
    margin-left: auto;
    margin-right: auto;

    img {
      border: 10px solid pink;
      margin-left: auto;
      margin-right: auto;
    }

    #clueless3 {
      margin-left: 25px;
    }
  }

  #answer-container {

    #answer {
      height: 100px;
      width: 500px;
      border: 1px solid grey;
      margin-left: auto;
      margin-right: auto;

      p {
        font-size: 25px;
      }
    }
  }

  #survey-container {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    background: yellow;

    .survey {
      float: left;
      margin-left: 20px;
      margin-right: 20px;
      background: red;
      width: 50px;

      .submit {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
      }

      input {
        margin-left: 18px;
      }
    }
  }

  #stats-container {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 410px;
    background: yellow;

    .stats {
      float: left;
      margin-left: 20px;
      margin-right: 20px;
      background: red;
      width: 50px;
    }
  }

}











