<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p>Dating can be tough. Have you ever felt like this?</p>
      <div class="clueless">
        <div id="clueless1">
          <img src="images/clueless5.png">
        </div>
        <div id="clueless2">
          <img src="images/clueless4.gif">
        </div>
        <div id="clueless3">
          <img src="images/clueless3.gif">
        </div>
        <div id="clueless4">
          <img src="images/clueless8.gif">
        </div>
        <div id="clueless5">
          <img src="images/clueless6.gif">
        </div>
        <div id="clueless6">
          <img src="images/clueless9.gif">
        </div>
        <div id="clueless7">
          <img src="images/clueless7.gif">
        </div>
        <div id="help">
          <div id="help-ball">
            <a href="/shake"><img src="images/82.gif" height="200"></a>
            <p>The Magic Date Ball can help!</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>