<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <div id="about-container">
        <h1>Dating can be tough.</h1>
        <div class="clueless">
          <div id="clueless1">
            <img src="images/clueless5.png">
          </div>
          <div id="clueless2">
            <img src="images/clueless4.gif">
          </div>
          <div id="clueless3">
            <img src="images/clueless3.gif">
          </div>
          <div id="clueless4">
            <img src="images/clueless8.gif">
          </div>
          <div id="clueless5">
            <img src="images/clueless11.gif">
          </div>
          <div id="clueless6">
            <img src="images/clueless12.gif">
          </div>
          <div id="clueless7">
            <img src="images/clueless10.gif">
          </div>
          <div id="clueless8">
            <img src="images/clueless7.gif">
          </div>
          <div id="help">
            <div id="help-ball">
              <a href="/shake"><img src="images/82.gif" height="200"></a>
              <h1>The Magic Date Ball can help!</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>