<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="big-ball">
      <a href="/about"><img src="images/82.gif"></a>
      <p>Click ball to enter</p>
    </div>
  </body>
</html>