<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <div id="rate-container">
        <h1>Rate your advice!</h1>
        <div id="survey-container">
          <form name="survey" method="post" action="/addstats">
          <div class="survey">
            <p>&hearts;</p><br>
            <input type="radio" name="number" value="one">
          </div>
          <div class="survey">
            <p>&hearts;&hearts;</p><br>
            <input type="radio" name="number" value="two">
          </div> 
          <div class="survey">
            <p>&hearts;&hearts;&hearts;</p><br>
            <input type="radio" name="number" value="three">
          </div> 
          <div class="survey">
            <p>&hearts;&hearts;&hearts;&hearts;</p><br>
            <input type="radio" name="number" value="four">
          </div> 
          <div class="survey">
            <p>&hearts;&hearts;&hearts;&hearts;&hearts;</p><br>
            <input type="radio" name="number" value="five">
          </div><br><br>
          <div class="submit">
            <input type="submit" value="Add My Stats!">
          </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>