<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <div id="rate-container">
        <h1>Rate Magic Date!</h1>
        <div id="survey-container">
          <form name="survey" method="post" action="/addstats">
          <div class="survey">
            <p>&hearts;</p><br>
            <input type="radio" name="number" value="one">
          </div>
          <div class="survey">
            <p>&hearts;&hearts;</p><br>
            <input type="radio" name="number" value="two">
          </div> 
          <div class="survey">
            <p>&hearts;&hearts;&hearts;</p><br>
            <input type="radio" name="number" value="three">
          </div> 
          <div class="survey">
            <p>&hearts;&hearts;&hearts;&hearts;</p><br>
            <input type="radio" name="number" value="four">
          </div> 
          <div class="survey">
            <p>&hearts;&hearts;&hearts;&hearts;&hearts;</p><br>
            <input type="radio" name="number" value="five">
          </div><br><br>
          <div class="submit">
            <input type="submit" value="Add My Stats!">
          </div>
          </form>
        </div>
        <div id="tweet-button">
          <a href="https://twitter.com/intent/tweet?button_hashtag=MagicDateBall&text=Magic%20Date%20Ball%20is%20a%20new%20and%20improved%20version%20of%20the%20classic%20Magic%208%20Ball%20%7C%20by%20%40korenlc" class="twitter-hashtag-button" data-size="large" data-related="korenlc" data-url="http://magic-date-ball.herokuapp.com">Tweet #MagicDateBall</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
    </div>
  </body>
</html>