<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <div id="answer-container">
      <p><a href="/rate">Click here to rate Magic Date Ball!</a></p>
        <div id="shake">
          <img src="images/82.gif">
        </div>
        <div id="answers"> 
          <div id="answer">
            <p><span>Magic Date Ball is a new and improved version of the classic Magic 8 Ball bringing you all the best love advice from Clueless' Cher Horowitz.<br><strong>Click the ball to shake.</strong><span></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


