<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <div id="answer-container">
        <!-- <h1><%= title %></h1> -->
        <img src="images/82.gif">
        <p><button id="shake"><p>Shake Ball</p></button></p>

        <div id="answers">
          
          <div id="answer">
            <p>The Magic Date Ball is a new and improved version of the class Magic 8 Ball.<br>
            Shake the Magic Date Ball for the best of Cher Horowitz' love advice.</p>
          </div>
        </div>
      <p><a href="/rate">If the Magic Date Ball helped, please take a second and rate this app!</a></p>
      </div>
    </div>
  </body>
</html>


