<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <div id="answer-container">
        <!-- <h1><%= title %></h1> -->
        <div id="shake">
          <img src="images/82.gif">
        </div>
        <!-- <p><button id="shake"><p>Shake Ball</p></button></p> -->

        <div id="answers">
          
          <div id="answer">
            <p><span>The Magic Date Ball is a new and improved version of the class Magic 8 Ball bringing you all the best love advice from Cher Horowitz herself. Click the ball to shake.<span></p>
          </div>
        </div>
        <p><a href="/rate">If you love the Magic Date Ball, please click here to rate this app!</a></p>
      </div>
    </div>
  </body>
</html>


