/* line 1, ../sass/style.scss */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* line 4, ../sass/style.scss */
body a {
  color: #00B7FF;
}
/* line 8, ../sass/style.scss */
body h1,
body p {
  text-align: center;
}
/* line 15, ../sass/style.scss */
body #big-ball img {
  height: 100px;
}
/* line 20, ../sass/style.scss */
body .clueless {
  width: 500px;
  background: yellow;
  margin-left: auto;
  margin-right: auto;
}
/* line 26, ../sass/style.scss */
body .clueless img {
  border: 10px solid pink;
  margin-left: auto;
  margin-right: auto;
}
/* line 32, ../sass/style.scss */
body .clueless #clueless3 {
  margin-left: 25px;
}
/* line 39, ../sass/style.scss */
body #answer-container #answer {
  height: 100px;
  width: 500px;
  border: 1px solid grey;
  margin-left: auto;
  margin-right: auto;
}
/* line 46, ../sass/style.scss */
body #answer-container #answer p {
  font-size: 25px;
}
/* line 52, ../sass/style.scss */
body #survey-container {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  background: yellow;
}
/* line 58, ../sass/style.scss */
body #survey-container .survey {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  background: red;
  width: 50px;
}
/* line 65, ../sass/style.scss */
body #survey-container .survey .submit {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
/* line 71, ../sass/style.scss */
body #survey-container .survey input {
  margin-left: 18px;
}
/* line 77, ../sass/style.scss */
body #stats-container {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 410px;
  background: yellow;
}
/* line 84, ../sass/style.scss */
body #stats-container .stats {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  background: red;
  width: 50px;
}
