@import url("http://fonts.googleapis.com/css?family=Shadows+Into+Light");
/* line 6, ../sass/style.scss */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 12, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* line 17, ../sass/style.scss */
body .container {
  margin-left: auto;
  margin-right: auto;
  /*height: 100vh;*/
}
/* line 22, ../sass/style.scss */
body .container a {
  color: #f9398c;
  text-align: center;
  text-decoration: none;
}
/* line 28, ../sass/style.scss */
body .container h1,
body .container h2,
body .container p {
  text-align: center;
  color: #f9398c;
  margin-top: 0;
  font-family: "Shadows Into Light";
}
/* line 39, ../sass/style.scss */
body .container #about-container h1 {
  font-size: 25px;
  margin-top: 5vh;
}
/* line 44, ../sass/style.scss */
body .container #about-container .clueless {
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
}
/* line 49, ../sass/style.scss */
body .container #about-container .clueless img {
  border: 20px solid #f9398c;
  display: table-caption;
  margin: 0 auto;
  height: 70vh;
}
/* line 57, ../sass/style.scss */
body .container #about-container .clueless #help-ball img {
  height: 70vh;
  border: none;
}
/* line 62, ../sass/style.scss */
body .container #about-container .clueless #help-ball h1 {
  margin-top: 0;
}
/* line 66, ../sass/style.scss */
body .container #about-container .clueless #help-ball p {
  font-size: 20px;
}
/* line 69, ../sass/style.scss */
body .container #about-container .clueless #help-ball p a {
  color: black;
}
/* line 77, ../sass/style.scss */
body .container #answer-container {
  height: 100vh;
}
/* line 80, ../sass/style.scss */
body .container #answer-container img {
  display: table-caption;
  margin: 0 auto;
  height: 55vh;
  margin-top: 5vh;
}
/* line 87, ../sass/style.scss */
body .container #answer-container #shake {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* line 92, ../sass/style.scss */
body .container #answer-container #shake p {
  color: #f9398c;
}
/* line 99, ../sass/style.scss */
body .container #answer-container #answers #answer {
  margin-top: 20px;
  height: 30vh;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
/* line 106, ../sass/style.scss */
body .container #answer-container #answers #answer p {
  font-size: 40px;
  color: black;
  height: 10vh;
}
/* line 111, ../sass/style.scss */
body .container #answer-container #answers #answer p span {
  color: black;
  font-size: 25px;
}
/* line 119, ../sass/style.scss */
body .container #answer-container a {
  font-size: 20px;
}
/* line 124, ../sass/style.scss */
body .container #rate-container {
  margin-top: 30vh;
}
/* line 127, ../sass/style.scss */
body .container #rate-container #survey-container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
/* line 132, ../sass/style.scss */
body .container #rate-container #survey-container .survey {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  background: #f2f2f2;
  width: 120px;
  height: 120px;
}
/* line 140, ../sass/style.scss */
body .container #rate-container #survey-container .survey p {
  font-size: 20px;
}
/* line 144, ../sass/style.scss */
body .container #rate-container #survey-container .survey input {
  margin-left: 53px;
  color: #f9398c;
}
/* line 150, ../sass/style.scss */
body .container #rate-container #survey-container .submit {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
/* line 156, ../sass/style.scss */
body .container #rate-container #survey-container .submit input {
  background: white;
  padding: 10px;
  color: #f9398c;
  font-family: "Shadows Into Light";
  font-size: 25px;
  border: none;
}
/* line 168, ../sass/style.scss */
body .container #stats-container {
  margin-top: 30vh;
}
/* line 171, ../sass/style.scss */
body .container #stats-container #stats {
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  width: 800px;
}
/* line 177, ../sass/style.scss */
body .container #stats-container #stats .stats {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  background: #f2f2f2;
  width: 120px;
}
/* line 184, ../sass/style.scss */
body .container #stats-container #stats .stats p {
  font-size: 20px;
}
/* line 187, ../sass/style.scss */
body .container #stats-container #stats .stats p span {
  font-size: 40px;
}
/* line 196, ../sass/style.scss */
body .container #stats-container .home-button h2 {
  padding: 10px;
  font-size: 25px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
/* line 205, ../sass/style.scss */
body .container #stats-container #tweet-button {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

/* Smaller Screens - 700px Breakpoint -------> */
@media screen and (max-width: 700px) {
  /* line 217, ../sass/style.scss */
  body .container #about-container .clueless img {
    width: 650px;
    height: auto;
  }

  /* line 222, ../sass/style.scss */
  body .container #about-container .clueless #help-ball img {
    height: 400px;
    width: auto;
  }

  /* line 227, ../sass/style.scss */
  body .container #answer-container img {
    /*    width: 650px;
        height: auto;*/
    margin-top: 10px;
  }
}
/* Smaller Screens - 600px Breakpoint -------> */
@media screen and (max-width: 600px) {
  /* line 238, ../sass/style.scss */
  body .container #about-container {
    margin-top: 80px;
  }

  /* line 242, ../sass/style.scss */
  body .container #about-container .clueless img {
    width: 550px;
    height: auto;
  }

  /* line 247, ../sass/style.scss */
  body .container #about-container .clueless #help-ball img {
    height: 350px;
    width: auto;
  }

  /* line 252, ../sass/style.scss */
  body .container #answer-container #answer {
    height: 300px;
    overflow: auto;
  }

  /* line 257, ../sass/style.scss */
  body .container #answer-container #answer p {
    height: 100px;
  }

  /* line 261, ../sass/style.scss */
  body .container #answer-container img {
    width: 300px;
    height: auto;
    margin-top: 10px;
  }
}
/* Smaller Screens - 500px Breakpoint -------> */
@media screen and (max-width: 500px) {
  /*  body .container #about-container {
      margin-top: 150px;
    }*/
  /* line 276, ../sass/style.scss */
  body .container #about-container .clueless img {
    width: 450px;
    height: auto;
  }

  /* line 281, ../sass/style.scss */
  body .container #about-container .clueless #help-ball img {
    height: 300px;
    width: auto;
  }

  /* line 286, ../sass/style.scss */
  body .container #answer-container img {
    /*    width: 300px;
        height: auto;*/
    margin-top: 10px;
  }
}
/* Smaller Screens - 400px Breakpoint -------> */
@media screen and (max-width: 400px) {
  /* line 297, ../sass/style.scss */
  body .container #about-container .clueless img {
    width: 350px;
    height: auto;
    border: 5px solid #f9398c;
  }

  /* line 303, ../sass/style.scss */
  body .container #about-container .clueless #help-ball img {
    height: 250px;
    width: auto;
  }

  /* line 308, ../sass/style.scss */
  body .container #answer-container img {
    /*  width: 300px;
      height: auto;*/
    margin-top: 10px;
  }
}
/* Smaller Screens - 400px Breakpoint -------> */
@media screen and (max-width: 350px) {
  /* line 319, ../sass/style.scss */
  body .container #about-container .clueless img {
    width: 320px;
    height: auto;
  }

  /* line 324, ../sass/style.scss */
  body .container #answer-container img {
    /*    width: 300px;
        height: 300px;*/
    /*margin-top: 10px;*/
  }

  /* line 330, ../sass/style.scss */
  body .container #answer-container {
    height: 400px;
  }

  /*  body .container #answer-container img {
      height: 400px;
    }*/
  /* line 338, ../sass/style.scss */
  body .container #answer-container #answers #answer {
    /*height: 10px;*/
  }
}
/*      #answer-container {
      height: 100vh;

      img {
        display: table-caption;
        margin: 0 auto;
        height: 55vh;
        margin-top: 5vh;
      }

      #shake {
        margin-left: auto;
        margin-right: auto;
        display: block;

        p {
          color: $primary-color;
        }
      }

      #answers {

        #answer {
          margin-top: 20px;
          height: 30vh;
          max-width: 900px;
          margin-left: auto;
          margin-right: auto;

          p {
            font-size: 40px;
            color: black;
            height: 10vh;

            span {
              color: black;
              font-size: 25px;

}*/
/* Smaller Screens - 400px Breakpoint -------> */
@media screen and (max-width: 320px) {
  /* line 386, ../sass/style.scss */
  body .container #about-container .clueless img {
    width: 300px;
    height: auto;
  }

  /* line 392, ../sass/style.scss */
  body .container #answer-container img {
    /*margin-top: 10px;*/
  }
}
